body {
  background-color: var(--background2) !important;
}

.container {
  display: flex;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

.form-container {
  flex: 1;
  padding: 30px;
  padding-bottom: unset;
}

.logo {
  width: 80px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

p {
  font-size: 22px;
  color: #5e4242;
  margin-bottom: 30px;
}

form {
  padding-inline: 80px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  font-size: 22px;
  position: absolute;
  left: 18px;
  top: 30px;
  transform: translateY(-50%);
  color: #626262;
}

.input-group input {
  background-color: rgba(217, 217, 217, 0.3);
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  padding: 20px 10px 20px 50px;
  border-radius: 5px;
}

.input-group.invalid input {
  border-color: red;
}

.input-group.valid input {
  border-color: green;
}

.input-group input:focus {
  outline: none;
}

i.toggle-password {
  left: unset;
  right: 15px;
}

.signup-btn {
  width: 60%;
  margin-left: 20%;
  padding: 20px;
  background-color: #8a4d1f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #6b3917;
}

.login-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.login-text a {
  color: #8a4d1f;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

.image-container {
  width: 50%;
  height: 100dvh;
  background-color: #eaeaea;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-messages {
  display: none;
}

.status-messages.visible {
  display: block;
  transform: translateY(10px);
  margin: 0;
}

.status-messages p {
  font-size: 14px;
  line-height: 1.1rem;
  text-align: center;
  margin: 0;
  color: inherit;
}

.status-messages p.invalid {
  color: red;
}

.status-messages p.valid {
  color: green;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-height: 800px) {
  .logo {
    display: none;
  }
  .form-container {
    padding: 20px;
  }
  h1 {
    margin-bottom: 10px;
  }
  .input-group {
    margin-bottom: 15px !important;
  }
  .input-group input,
  .signup-btn {
    padding-block: 15px;
  }
  .input-group i {
    font-size: 18px;
    top: 25px;
  }
  .login-text {
    margin-block: 10px;
  }
}

@media (max-width: 1200px) {
  form {
    padding-inline: 40px;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  form {
    padding: 0;
  }
}

@media (max-width: 850px) {
  .logo {
    display: block;
    margin: auto;
    transform: translateY(-10px);
  }
  form {
    width: 70vw;
    margin: 0 auto;
    padding-inline: 0;
  }
  .image-container {
    display: none;
  }
  h1,
  p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  form {
    width: 85vw;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }
}
/* sweet alert customization */
.swal-footer {
  display: flex;
  justify-content: space-evenly;
}

.swal-button.error {
  color: #f27474 !important;
}

.swal-text {
  text-align: center;
}
