body {
  background-color: var(--background2) !important;
}
.container {
  display: flex;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}

.form-container {
  flex: 1;
  padding: 30px;
  padding-bottom: unset;
}

.logo {
  width: 80px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

p {
  font-size: 22px;
  color: #5e4242;
  margin-bottom: 30px;
}

form {
  /* margin-top: 30px; */
  padding-inline: 80px;
}

form .input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group i {
  font-size: 22px;
  position: absolute;
  left: 18px;
  top: 30px;
  transform: translateY(-50%);
  color: #626262;
}

.input-group input {
  background-color: rgb(217, 217, 217, 0.3);
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  padding: 20px 10px 20px 50px;
  border-radius: 5px;
}

.input-group.invalid input {
  border: 1px solid red;
}
.input-group.valid input {
  border: 1px solid green;
}

.input-group input:focus {
  outline: unset;
}

.input-group .toggle-password {
  left: unset;
  /* position: absolute; */
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}

.signup-btn {
  width: 60%;
  margin-left: 20%;
  padding: 20px;
  background-color: #8a4d1f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #6b3917;
}

.login-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.login-text a {
  color: #8a4d1f;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

.image-container {
  /* flex: 1; */
  width: 50%;
  min-height: 100dvh;
  max-height: 100dvh;
  background-color: #eaeaea;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-messages {
  display: none;
}

.status-messages.visible {
  display: block;
  transform: translateY(10px);
  margin: 0;
}

.status-messages p {
  font-size: 14px;
  line-height: 1.1rem;
  text-wrap: nowrap;
  text-align: center;
  margin: 0;
}

.status-messages p.invalid {
  color: red;
}

.status-messages p.valid {
  color: green;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (min-width: 850px) and (max-height: 790px) {
  .image-container {
    min-height: 100dvh;
    max-height: unset;
  }
}

@media (max-height: 800px) {
  .input-group {
    margin-bottom: 20px !important;
  }
}

@media (max-width: 1200px) {
  form {
    padding-inline: 40px;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  form {
    padding: 0;
  }
}

@media (max-width: 850px) {
  .logo {
    display: block;
    margin-inline: auto;
    transform: translateY(-10px);
  }

  form {
    margin-top: 0px;
    width: 70vw;
    margin-inline: auto;
    padding-inline: 0;
  }
  .image-container {
    display: none;
  }
  form .input-group {
    position: relative;
    margin-bottom: 30px;
  }
  h1 {
    font-size: 35px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
  }
  form {
    width: 85vw;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 25px;
  }
}

.swal-footer {
  display: flex;
  justify-content: space-evenly;
}

.swal-button.error {
  color: #f27474 !important;
}

.swal-text {
  text-align: center;
}
